ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
}
/* --------------- HEADER -------------- */

.header-container {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 36px;
}

.header-contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 800px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header {
  font-style: normal;
}

.header-contact-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-link {
  display: inline;
}
.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}
/* ------------------------------------------ */

/* ---------------- SECTION ---------------- */

.section-main {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 496px;
  height: 120px;
  align-items: center;
  width: 496px;
  margin: 0 auto;
}

.section-main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  display: block;
}
.section-main-btn:hover {
  background-color: #404bbf;
}
.section-main-btn:focus {
  background-color: #404bbf;
}

.section-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 15px;
  padding-left: 15px;
}
.section-item {
  width: calc((100%-3 * 24px) / 4);
}
.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
}

.section-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section {
  background-color: #f4f4fd;
}

.section-team-list {
  display: flex;
  gap: 16px;
  border: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  padding-right: 15px;
  padding-left: 15px;
}
.section-team-item {
  background-color: #ffffff;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-subtitle-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}
.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 58px;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  padding-left: 68px;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-title-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}
.section-item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-right: 15px;
  padding-left: 15px;
}
.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ----------------------------------------- */

/* ---------------- FOOTER ------------------ */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
}
/* ----------------------------------------- */
