ul {
list-style: none;
margin: 0;
padding: 0;
}

a {
  text-decoration: none;
}
body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}


ul ol {
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
section {
padding-top: 120px;
padding-bottom: 120px;
}

address {
font-style: normal;
}

img {
display: block;
max-width: 100%;
}

/* --------------- HEADER -------------- */
.header {
border-bottom: 1px solid #e7e9fc;
padding-top: 0px;
box-shadow: 0px 2px 1px rgba(46, 47, 66,0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
max-width: 320px;
padding: 0 16px;
margin-left: auto;
margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  }
  
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  width: 320px;
  height: 56px;
display: flex;
align-items: center;
margin-right: auto;
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
padding: 17px 0;
}

.header-logo-accent {
color: #2e2f42;
}
.header-menu-list {
  display: none;
}
.address-contact-list {
  display: none;
}

/* ---------------- MOBILE ------------------ */

.menu-open-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
} 

.mob-menu {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
background-color: #ffffff;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: auto; 
opacity: 0;
visibility: hidden;
pointer-events: none;
padding: 72px 16px 40px;
} 

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
border-radius: 50%;
fill: #e7e9fc;
stroke-width: 1px;
border: none;
}

.menu-close-icon {
  margin-bottom: 1px;
  fill: #2e2f42;
}


.mob-menu-item:not(:last-child) {
margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover {
  color: #404bbf;
}

.mob-menu-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
}


.mob-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-link:hover {
  color: #404bbf;
}

.mob-contact-link:focus {
  color: #404bbf;
}

.mob-contact-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-team-list {
  display: flex;
  gap: 40px;
}
/* ----------------------------------------- */

/* ---------------- SECTION 1 ---------------- */

.main-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-main {
  background-color: #2e2f42;
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg-mob.jpg);
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

@media screen and (min-resolution: 2dppx), 
(min-resolution: 192dpi) {
  .section-main {
  background-image:
  linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg-mob2x.jpg);
  }
  
}

.section-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  align-items: center;
  margin: 0 auto;
}

.section-main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-main-btn:hover {
  background-color: #404bbf;
}
.section-main-btn:focus {
  background-color: #404bbf;
}
/* ----------------------------------------------- */

/* ---------------SECTION 2 ---------------------- */


.section-main-item {
padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.section-item {
width: 100%;
} 
.main-container-icon {
  display: none;
}

.section-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.section-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}


/* ---------------------------------------------- */

/* ------------- SECTION 3 ---------------------- */
.section-main-team {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  background: #f4f4fd;
}

.team-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.section-team-item {
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-subtitle-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}
.section-team-list-icon {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.icon-item {
  width: 40px;
  height: 40px;
  display: flex;
  gap: 24px;
  padding-left: 0;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%; 
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
  fill: #f4f4fd;
}

.icon-link:hover {
  background-color: #404bbf;
box-shadow: unset;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:focus {
  background-color: #404bbf;
  box-shadow: unset;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------------------------------- */

/* ----------------- SECTION 4 ----------------- */

/* .section-main-team-item {
  padding-top: 120px;
  padding-bottom: 120px;
} */


.item-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  justify-content: center;
}

.section-item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.section-title-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-item-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-cover-text {
  display: none;
}
/* ----------------------------------------- */

/* ---------------- FOOTER ------------------ */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
} 

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  gap: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-icon {
  position: relative;
  display: block;
  width: 208px;  

}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 56px;
  padding-bottom: 16px;
  padding-left: 88px;
}

.footer-icon-list {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;  
padding-left: 68px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
    width: 40px;
    height: 40px; 
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-icon {
  fill: #f4f4fd;
}

.footer-icon-link:hover {
background-color: #31d0aa;
}

.footer-icon-link:focus {
background-color: #31d0aa;
}


.footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  padding-top: 56px;
  padding-left: 94px;
}

.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;

}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  border-radius: 4px;
  min-width: 165px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    justify-content: center;
    align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
      display: flex;
      cursor: pointer;
      margin-top: 16px;
      margin-left: 58px;
}

.footer-email-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ----------------------------------------- */
/* ------------------ MODAL ----------------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn {
  position: absolute;
  top: 38px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn:hover {
  background-color: #404bbf;
  border: none;
}
.modal-open-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-open-btn:hover>svg, 
.modal-open-btn:focus>svg {
  fill: #ffffff;
}

.modal-icon-open {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 16px;
    color: #2E2F42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-field-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-field-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}
.modal-text {
width: 100%;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.7);
border-radius: 4px;
background-color: transparent;
font-size: 12px;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-field-box {
  margin-bottom: 24px;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 12px;

}
.check-text-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }


.modal-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked +.check-text .modal-span {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.order-service {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border: none;
margin: 0;
min-width: 169px;
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
margin-left: 38px;
margin-right: 70px;
margin-bottom: 16px;
}
/* -------------------------------------------------- */

/* ------------------ TAB ------------------ */
@media screen and (min-width: 768px) {
.menu-open-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .header-menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .header-menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .address {
    display: block;
  }
  .address-contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover {
    color: #404bbf;
  }
  .header-menu-link:focus {
    color: #404bbf;
  }
  .address-contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-contact-link {
    margin-left: 1 auto;
  }
  .address-contact-link:hover {
    color: #404bbf;
  }
  .address-contact-link:focus {
    color: #404bbf;
  }
.section-main {
  padding: 188px 0;
  margin: 0 auto;
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bgTab.jpg);
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .section-main {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bgTab2x.jpg);
  }
}

.section-main-item {
  width: 736px;
}
.main-container {
height: 312px;

}
.section-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
}

.section-item-title {
  text-align: left;
}
.section-item {
  width: calc((100% - 24px) / 2);
}
.section-main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  width: 496px;
  height: 120px;
}
.item-container {
  padding: 0;
}
.section-item-team {
  width: calc((100% - 24px) / 2);
}

.footer-container {
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  align-items: unset;
  justify-content: unset;
  max-width: 584px;
  gap: 72px 24px;
}
.footer-text {
  margin-left: 74px;
  padding-right: 24px;
} 
.footer-social {
  text-align: left;
  padding-left: 0;
}
.footer-icon-list {
  padding-left: 0;
} 
.footer-form {
display: flex;
padding-top: 0;
}

.footer-input {
width: 264px;
margin-left: 74px;
}  
.footer-btn {
  margin-top: 0;
  margin-left: 24px;
}
.modal {
  width: 408px;
  min-height: 584px;
}
.modal-open-btn {
  top: 24px
}
.order-service {
  margin-left: 95px;
}
}
/* ----------------------------------------- */

/* ------------------ DESKTOP ------------- */

@media screen and (min-width:1158px) {

  .header-logo {
    margin-right: 76px;
  }
  .address-contact-list {
    flex-direction: row;
    display: flex;
    gap: 40px;
  }
  .address-contact-link {
    font-size: 16px;
    line-height: 1.5;
  }
  .header-menu-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      padding: 24px 0;
    }
    .header-menu-link {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current {
      position: relative;
      color: #404bbf;
    }
    .header-menu-link.current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      background-color: #404bbf;
    }
    .address {
      display: block;
    }
    .address-contact-link {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-menu-link:hover {
      color: #404bbf;
    }
    .header-menu-link:focus {
      color: #404bbf;
    }
    .address-contact-link {
      margin-left: 1 auto;
    }
    .address-contact-link:hover {
      color: #404bbf;
    }
    .address-contact-link:focus {
      color: #404bbf;
    }
    .section-main {
      background-color: #2e2f42;
      /* padding: 188px 0; */
      margin: 0 auto;
      background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      .section-main {
      background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/people-office2x.jpg);
      }
  }
    .section-main-title {
      font-size: 56px;
      line-height: 1.07; 
      max-width: 496px;
      width: 496px;
      height: 120px;
    }
.section-main-item {
  width: 1158px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.section-item {
  width: calc((100%-3 * 24px) / 4);
}
.main-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  padding-left: 0;
}
.section-item-title {
font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.section-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.section-team-item {
  width: calc((100% - 72px) / 4);
}
.section-team-list {
  gap: 24px;
}
.section-item-list {
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 16px;
}
.section-item-team {
  width: 360px;
  height: 420px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-item-team:hover .section-cover-text { 
  transform: translateY(0);
}
.section-item-team:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-cover-wrap {
  width: 360px;
  position: relative;
  overflow: hidden;
}
.section-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.footer-logo {
  padding-left: 0;
}
.footer-text {
  padding-right: 0;
  margin-left: 0;
}

.footer-social {
  margin-left: 48px;
}
.footer-icon-list {
  margin-left: 48px;
}
.footer-form {
  margin-left: 16px;
}
.footer-btn {
  margin-top: 0;
  margin-left: 24px;
}
}
/* ---------------------------------------------- */
